#uv_index_map{
	top:10px;
	bottom: 100px; 
	left: 100px;
	right: 100px;
	/*height: 1000px;
	width: 800px;*/
}

#co_region{
	top:50px;
	bottom: 100px; 
	left: 100px;
	right: 100px;
	/*height: 1000px;
	width: 800px;*/
}

#temp{
	top:50px;
	bottom: 200px; 
	left: 100px;
	right: 100px;
	/*height: 1000px;
	width: 800px;*/
}

#humidity{
	top:300;
	bottom: 100px; 
	left: 100px;
	right: 100px;
	/*height: 1000px;
	width: 800px;*/
}
.pure-g
{
	margin-bottom: 40px;
}
